
    <nav class="footer-nav">
        <ul>
            <li class="nav-item">
                <a href="/add">
                    <i class="fa-solid fa-plus"></i>
                    {# <span class="nav-text">Ajouter</span> #}
                </a>
            </li>
            <li class="nav-item">
                <a href="/tour">
                    <i class="fa-solid fa-car"></i>
                    {# <span class="nav-text">Tournée</span> #}
                </a>
            </li>
            <li class="nav-item">
                <a href="/patient">
                    <i class="fa-solid fa-user"></i>
                    {# <span class="nav-text">Patients</span> #}
                </a>
            </li>
            <li class="nav-item">
                <a href="/transmission">
                    <i class="fa-solid fa-clipboard"></i>
                    {# <span class="nav-text">Transmissions</span> #}
                </a>
            </li>
            <li class="nav-item">
                <a href="/chat">
                    <i class="fa-solid fa-comment"></i>
                    {# <span class="nav-text">Messagerie</span> #}
                </a>
            </li>
            <li class="nav-item">
                <a href="/more">
                    <i class="fa-solid fa-bars"></i>
                    {# <span class="nav-text">Plus</span> #}
                </a>
            </li>
        </ul>
    </nav>