{% extends 'base.html.twig' %}

{% block title %}<h1>Patient</h1>{% endblock %}

{% block body %}
    <div class="patient-title">
        <h1>Patients</h1>
    </div>


    <div class="patient-search">
        <div class="search-container">
            <div class="icon-container">
                <a href="/patient/view" class="search-icon-link">
                    <i class="fa-solid fa-magnifying-glass fa-rotate-90 search-icon"></i>
                </a>
            </div>
            <input type="text" class="search-input" placeholder="Rechercher un patient">
        </div>
    </div>

    <div class="patient-add">
        <a href="/patient/add" class="patient-add-link">
            <i class="fa-solid fa-user-plus"></i>
            <span class="patient-add-text">Créer un patient</span>
        </a>
    </div>

    <div class="patient-list">
        <ul>
            {% for patient in patients %}
                <li>
                    <a href="{{ path('app_patient_view', { 'id': patient.id }) }}">
                        {{ patient.firstname }} {{ patient.lastname }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}
