/* ********************************************************************** */
/*                                    Global                              */
/* ********************************************************************** */
/* Styles globaux */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Styles de la barre de navigation */
.footer-nav {
    background-color: #333;
    padding: 30px 0; /* Augmentez la valeur de padding pour agrandir la barre */
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

.nav-item {
    text-align: center;
}

.nav-item a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-item a i {
    font-size: 26px; /* Augmentez la taille des icônes */
}


.nav-text {
    margin-top: 5px;
}

.nav-item a:hover {
    text-decoration: underline;
}


/* ********************************************************************** */
/*                                  PATIENT                               */
/* ********************************************************************** */

    /* Styles pour l'entête */
    .patient-title {
        background-color: #333;
        color: white;
        text-align: center;
        padding: 10px 0;
    }

    .patient-title h1 {
        font-size: 24px;
    }

     /* Styles pour la barre de recherche */
     .patient-search {
        margin-top: 20px;
        text-align: center;
    }

    .search-container {
        display: flex;
        align-items: center;
        max-width: 300px; /* Ajustez la largeur de la barre de recherche */
        margin: 0 auto; /* Centre la barre de recherche horizontalement */
    }

    .icon-container {
        background-color: #333; /* Couleur de fond plus claire */
        padding: 10px;
        border-radius: 4px 0 0 4px;
        border: 1px solid #333; /* Ajoute une bordure */
        border-right: none; /* Supprime la bordure droite */
    }

    .search-icon {
        font-size: 16px;
        color: white;
    }
  

    .search-input {
        flex: 1; /* L'input prend tout l'espace restant */
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 0 4px 4px 0;
        font-size: 16px;
    }

    /* Styles pour le bouton "Créer un patient" */
    .patient-add {
        text-align: center;
        margin-top: 20px;
    }

    .patient-add-link {
        text-decoration: none; /* Supprime le soulignement par défaut */
        background-color: #333;
        color: white;
        border: none;
        border-radius: 4px;
        padding: 10px 0; /* Réduisez la hauteur du bouton si nécessaire */
        width: 180px; /* Réduisez la largeur du bouton ici */
        margin: 0 auto; /* Centre horizontalement le bouton */
        font-size: 16px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 1.2; /* Ajoutez cette ligne pour centrer verticalement */
    }

    .patient-add-link i {
        margin-right: 10px; /* Ajoute de l'espace entre l'icône et le texte */
    }




    /* Styles pour la liste de patients */
    .patient-list {
        margin-top: 20px;
        text-align: center;
    }

    .patient-list ul {
        list-style-type: none; /* Supprime les puces de liste */
        padding: 0;
    }

    .patient-list li {
        margin-bottom: 10px; /* Espacement entre chaque patient */
        border: 1px solid #ccc; /* Ajoute une bordure autour de chaque patient */
        border-radius: 4px; /* Coins arrondis du rectangle */
        overflow: hidden; /* Cache tout contenu qui dépasse le cadre */
    }

    .patient-list a {
        display: block; /* Transforme le lien en un élément de bloc */
        padding: 10px; /* Espace à l'intérieur du rectangle */
        text-decoration: none; /* Supprime le soulignement par défaut des liens */
        font-weight: bold;
        color: #333; /* Couleur du texte des patients */
        transition: color 0.3s; /* Ajoute une transition pour changer la couleur au survol */
    }

    .patient-list a:hover {
        color: #555; /* Couleur du texte au survol */
    }


/* ********************************************************************** */
/*                                PATIENT VIEW                            */
/* ********************************************************************** */

/* Styles pour la section de détails du patient */
.patient-details {
    margin-top: 20px;
    text-align: center;
}

.patient-details p {
    margin: 10px 0; /* Espacement entre chaque information du patient */
}

/* Styles pour les boutons Modifier et Supprimer */
.patient-actions {
    margin-top: 20px; /* Espacement entre les informations du patient et les boutons */
    text-align: center; /* Centre les boutons horizontalement */ 
    justify-content: space-between;
}


.btn-edit {
    text-decoration: none;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block; /* Pour occuper toute la largeur du formulaire */
    margin: 0 auto; /* Centre le bouton horizontalement */
    text-align: center;
}

.btn-edit:hover {
    background-color: #555; /* Couleur de fond au survol */
}


/* ********************************************************************** */
/*                             Bouton Retour                              */
/* ********************************************************************** */

/* Styles pour centrer le texte du titre au milieu en haut de la page */
.example-wrapper {
    text-align: center;
}

/* Styles pour l'icône de la flèche en haut à gauche */
.back-link {
    position: absolute;
    top: 20px;
    left: 20px;
    text-decoration: none;
    color: #333;
}
.back-link-white {
    position: absolute;
    top: 20px;
    left: 20px;
    text-decoration: none;
    color: white;
}

.back-link i {
    font-size: 24px;
    color: #333;
}

/* Styles pour le texte du titre centré */
.centered-title {
    font-size: 24px;
    margin: 0;
}




/* ********************************************************************** */
/*                             Patient ADD                                */
/* ********************************************************************** */

/* Styles pour la page d'ajout de patient */

.centered-form {
    width: 80%; /* Ajustez la largeur du formulaire selon vos préférences */
    max-width: 400px; /* Ajustez la largeur maximale du formulaire selon vos préférences */
    margin: 0 auto; /* Centre le formulaire horizontalement */
    padding: 20px;
    box-sizing: border-box;
    text-align: left; /* Alignez le texte du formulaire à gauche */
}

.form-group {
    margin-bottom: 20px;
}

.form-row {
    width: 95%;
    display: flex;
    justify-content: space-between;
}
.form-row .form-group {
    flex-basis: calc(50% - 10px); /* Divise l'espace en deux et laisse un petit espace entre les champs */
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
textarea,
input[type="tel"] {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

textarea {
    height: 100px; /* Ajustez la hauteur de la zone de texte selon vos préférences */
}

button {
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block; /* Pour occuper toute la largeur du formulaire */
    margin: 0 auto; /* Centre le bouton horizontalement */
    text-align: center;
}

button:hover {
    background-color: #555; /* Couleur de fond au survol */
}

.button-container-center {
    text-align: center;
}

/* ********************************************************************** */
/*                                Messagerie View                         */
/* ********************************************************************** */
  
  .page {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .marvel-device .screen {
    text-align: left;
  }
  
  .screen-container {
    height: 100%;
  }
  
  /* Status Bar */
  
  .status-bar {
    height: 25px;
    background: #004e45;
    color: #fff;
    font-size: 14px;
    padding: 0 8px;
  }
  
  .status-bar:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .status-bar div {
    float: right;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 0 0 8px;
    font-weight: 600;
  }
  
  /* Chat */
  
  .chat {
    height: calc(100% - 69px);
  }
  
  .chat-container {
    height: 100%;
  }
  
  /* User Bar */
  
  .user-bar {
    height: 55px;
    background: #005e54;
    color: #fff;
    padding: 0 8px;
    font-size: 24px;
    position: relative;
    z-index: 1;
  }
  
  .user-bar:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .user-bar div {
    float: left;
    transform: translateY(-50%);
    position: relative;
    top: 50%;
  }
  
  .user-bar .actions {
    float: right;
    margin: 0 0 0 20px;
  }
  
  .user-bar .actions.more {
    margin: 0 12px 0 32px;
  }
  
  .user-bar .actions.attachment {
    margin: 0 0 0 30px;
  }
  
  .user-bar .actions.attachment i {
    display: block;
    transform: rotate(-45deg);
  }
  
  .user-bar .avatar {
    margin: 0 0 0 5px;
    width: 36px;
    height: 36px;
  }
  
  .user-bar .avatar img {
    border-radius: 50%;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
    display: block;
    width: 100%;
  }
  
  .user-bar .name {
    font-size: 17px;
    font-weight: 600;
    text-overflow: ellipsis;
    letter-spacing: 0.3px;
    margin: 0 0 0 8px;
    overflow: hidden;
    white-space: nowrap;
    width: 110px;
  }
  
  .user-bar .status {
    display: block;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0;
  }
  
  /* Conversation */
  
  .conversation {
    height: calc(100% - 12px);
    position: relative;
    background: #efe7dd url("https://cloud.githubusercontent.com/assets/398893/15136779/4e765036-1639-11e6-9201-67e728e86f39.jpg") repeat;
    z-index: 0;
  }
  
  .conversation ::-webkit-scrollbar {
    transition: all .5s;
    width: 5px;
    height: 1px;
    z-index: 10;
  }
  
  .conversation ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  .conversation ::-webkit-scrollbar-thumb {
    background: #b3ada7;
  }
  
  .conversation .conversation-container {
    height: calc(100% - 68px);
    box-shadow: inset 0 10px 10px -10px #000000;
    overflow-x: hidden;
    padding: 0 16px;
    margin-bottom: 5px;
  }
  
  .conversation .conversation-container:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Messages */
  
  .message {
    color: #000;
    clear: both;
    line-height: 18px;
    font-size: 15px;
    padding: 8px;
    position: relative;
    margin: 8px 0;
    max-width: 85%;
    word-wrap: break-word;
    z-index: -1;
  }
  
  .message:after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
  }
  
  .metadata {
    display: inline-block;
    float: right;
    padding: 0 0 0 7px;
    position: relative;
    bottom: -4px;
  }
  
  .metadata .time {
    color: rgba(0, 0, 0, .45);
    font-size: 11px;
    display: inline-block;
  }
  
  .metadata .tick {
    display: inline-block;
    margin-left: 2px;
    position: relative;
    top: 4px;
    height: 16px;
    width: 16px;
  }
  
  .metadata .tick svg {
    position: absolute;
    transition: .5s ease-in-out;
  }
  
  .metadata .tick svg:first-child {
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transform: perspective(800px) rotateY(180deg);
            transform: perspective(800px) rotateY(180deg);
  }
  
  .metadata .tick svg:last-child {
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transform: perspective(800px) rotateY(0deg);
            transform: perspective(800px) rotateY(0deg);
  }
  
  .metadata .tick-animation svg:first-child {
    -webkit-transform: perspective(800px) rotateY(0);
            transform: perspective(800px) rotateY(0);
  }
  
  .metadata .tick-animation svg:last-child {
    -webkit-transform: perspective(800px) rotateY(-179.9deg);
            transform: perspective(800px) rotateY(-179.9deg);
  }
  
  .message:first-child {
    margin: 16px 0 8px;
  }
  
  .message.received {
    background: #fff;
    border-radius: 0px 5px 5px 5px;
    float: left;
  }
  
  .message.received .metadata {
    padding: 0 0 0 16px;
  }
  
  .message.received:after {
    border-width: 0px 10px 10px 0;
    border-color: transparent #fff transparent transparent;
    top: 0;
    left: -10px;
  }
  
  .message.sent {
    background: #e1ffc7;
    border-radius: 5px 0px 5px 5px;
    float: right;
  }
  
  .message.sent:after {
    border-width: 0px 0 10px 10px;
    border-color: transparent transparent transparent #e1ffc7;
    top: 0;
    right: -10px;
  }
  
  /* Compose */
  
  .conversation-compose {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    overflow: hidden;
    height: 50px;
    width: 100%;
    z-index: 2;
  }
  
  .conversation-compose div,
  .conversation-compose input {
    background: #fff;
    height: 100%;
  }
  
  .conversation-compose .emoji {
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 5px 0 0 5px;
    flex: 0 0 auto;
    margin-left: 8px;
    width: 48px;
  }
  
  .conversation-compose .input-msg {
    border: 0;
    flex: 1 1 auto;
    font-size: 16px;
    margin: 0;
    outline: none;
    min-width: 50px;
  }
  
  .conversation-compose .photo {
    flex: 0 0 auto;
    border-radius: 0 0 5px 0;
    text-align: center;
    position: relative;
    width: 48px;
  }
  
  .conversation-compose .photo:after {
    border-width: 0px 0 10px 10px;
    border-color: transparent transparent transparent #fff;
    border-style: solid;
    position: absolute;
    width: 0;
    height: 0;
    content: "";
    top: 0;
    right: -10px;
  }
  
  .conversation-compose .photo i {
    display: block;
    color: #7d8488;
    font-size: 24px;
    transform: translate(-50%, -50%);
    position: relative;
    top: 50%;
    left: 50%;
  }
  
  .conversation-compose .send {
    background: transparent;
    border: 0;
    cursor: pointer;
    flex: 0 0 auto;
    margin-left: 8px;
    margin-right: 8px;
    padding: 0;
    position: relative;
    outline: none;
  }
  
  .conversation-compose .send .circle {
    background: #008a7c;
    border-radius: 50%;
    color: #fff;
    position: relative;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .conversation-compose .send .circle i {
    font-size: 24px;
    margin-left: 5px;
  }
  
  /* Small Screens */
  
  @media (max-width: 768px) {
    .marvel-device.nexus5 {
      border-radius: 0;
      flex: none;
      padding: 0;
      max-width: none;
      overflow: hidden;
      height: 100%;
      width: 100%;
    }
  
    .marvel-device > .screen .chat {
      visibility: visible;
    }
  
    .marvel-device {
      visibility: hidden;
    }
  
    .marvel-device .status-bar {
      display: none;
    }
  
    .screen-container {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  
    .conversation {
      height: calc(100vh - 55px);
    }
    .conversation .conversation-container {
      height: calc(90vh - 120px);
    }
    
  }